.App {
  /* text-align: center; */
  /* background-color: white; */
  /* opacity: 70%; */
  display: flex;
  min-height: 98vh;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: black;
  margin: 1vh;
}

