body {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#1d002e !important;
    background: rgb(252,176,69);
    background: linear-gradient(45deg, rgba(252,176,69,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(131,58,180,0.5) 100%);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
